<a href="https://colab.research.google.com/github/xiao0001/AI-progemming-1-a/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
x=2
print(x)

2

In [14]:
x=2
print(x)
x="hello"
print(x)
x=[1,2,3]
print(x)

2
hello
[1, 2, 3]

In [15]:
y=x
print(y)

[1, 2, 3]

In [18]:
x.append("he")
print(x)

[1, 2, 3, 'he', 'he']

In [21]:
13 % 2 == 1

True

In [37]:
num = 72
if (num % 2) == 0:
   print("{0} が偶数".format(num))
else:
   print("{0} が奇数".format(num))

72 が偶数

In [38]:
x = 6
(x >= 1) and (x <= 7)

True

In [43]:
num = int(input("数字を入力してください: "))
if (num % 2) == 0:
   print("{0} が偶数".format(num))
else:
   print("{0} が奇数".format(num))

数字を入力してください: 20
20 が偶数

In [49]:
var1 = 'Hello World!' 
print (var1[0:6] + 'Runoob!')

Hello Runoob!

In [55]:
a = "Hello"
b = "Python"
 
print("a + b 输出结果：", a + " "+ b)

a + b 输出结果： Hello Python

In [0]:
text="Hello Python"

In [57]:
len(text)

12



```
# 将所有文本字符转换为大写。
```

In [60]:
text.upper()

'HELLO PYTHON'

```
文字的首字母大写。
```

In [62]:
text.capitalize()

'Hello python'

別の文章を作って、text02の変数に割り当ててください。そして、textをtext02に加えてください。

In [63]:
text02 = "so much"
text + text02

'Hello Pythonso much'

In [64]:
text+ " " +text02

'Hello Python so much'

In [74]:
text * 5

'Hello PythonHello PythonHello PythonHello PythonHello Python'

搜索

In [75]:
text[0]

'H'

In [77]:
text[11]

'n'

In [78]:
type(None)

NoneType

## **列表**

创建一个列表并将其分配给L变量。 在列表中放入1,2,8,9。

In [0]:
L=[1,2,8,9]

In [105]:
len(L)

11

将11添加到列表中。

In [0]:
L.append(11)

列表还支持拼接操作

In [0]:
L += [36, 49, 64, 81, 100]

In [110]:
print(L)

[1, 2, 8, 9, 11, 36, 49, 64, 81, 100]

按升序对列表进行排序。

In [109]:
L.sort
L

[1, 2, 8, 9, 11, 36, 49, 64, 81, 100]

# 列表索引和切片

查找L的第四个值

In [111]:
L[3]

9

显示L的最后一个值

In [112]:
L[-1]

100

查找L的最后两个值。

In [113]:
L[-2:]

[81, 100]

按升序对L排序，并显示L跳过一个值。

In [114]:
L[::2]

[1, 8, 11, 49, 81]

## 元组

In [119]:
tup1 = (50)
type(tup1)

int

## 集合

为List_A创建一个变量，并将[1,1,2,5,5,5,8,8,9]放入List_A。 为List_B创建一个变量，然后将[1,2,2,3,3,3,6,10]放入List_B。

In [120]:
List_A = [1,1,2,5,5,5,8,8,9]
print(List_A)
List_B = [1,2,2,3,3,3,6,10]
print(List_B)

[1, 1, 2, 5, 5, 5, 8, 8, 9]
[1, 2, 2, 3, 3, 3, 6, 10]

In [121]:
print(List_A)

[1, 1, 2, 5, 5, 5, 8, 8, 9]

In [122]:
set(List_A)

{1, 2, 5, 8, 9}

In [124]:
print("请输入任何数字")
x = input()
x = int(x)

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is None")

请输入任何数字
20
20 is positive

In [130]:
for i in range(1, 21):
    if i % 2 == 0:)
print(ji)

SyntaxError: ignored

In [156]:
numbers = [1,2,3,4,5,6]
even = [i for i in numbers if i%2 == 0]
print(even)

[2, 4, 6]

In [162]:
test = [each for each in range(1,21) if not (each % 2 == 0)]
test

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [163]:
for N in [1, 2, 3, 4, 5]:
    print(N)

1
2
3
4
5

In [155]:
for i in range(1,5):
 print(i)

1
2
3
4

使其显示在一行上。

In [168]:
for N in [1,2,3,4,5]:
    print(N,end=' ')

1 2 3 4 5

也可以使range以指定数字开始并指定不同的增量(甚至可以是负数，有时这也叫做'步长'):3の倍数のNループを作りなさい

In [170]:
for N in range(3,31,3):
    print(N,end=' ')

3 6 9 12 15 18 21 24 27 30

In [172]:
for i in range(-10, -100, -30) :
    print(i,end=' ')

-10 -40 -70

计算1到5的总和。

In [176]:
#totalを初期化する
total = 0 
for N in range(1,6):
    total +=N   #totalを毎回Nと加算させる
print(total)

15

1-10之间的偶数相加

In [198]:
sum([i for i in range(1,11) if i%2==0])

30

In [197]:
sum([i for i in range(1,11) if i%2==1])

25

In [187]:
places = ["kamigyo ku","nakagyo ku", "sakyo ku"]
new_places = []

for place in places:
    new_places.append(place.capitalize().replace(" ","-"))
print(new_places)

['Kamigyo-ku', 'Nakagyo-ku', 'Sakyo-ku']

In [189]:
i = 1 #初期化
while i < 11: #最後の値
    print(i,end=' ')
    i += 1 #ステップ

1 2 3 4 5 6 7 8 9 10

In [191]:
sum(i for i in range(1,11))

55

In [192]:
total = 0
for i in range(1,11):
    total += i
print(total)

55

50の一番近い2乗をwhileループを使って、表示しなさい。答えは49

In [193]:
limit = 50

num = 0
while (num+1)**2 < limit:
    num += 1
nearest_square = num ** 2
print(nearest_square)

49


## breakとcontinue

In [199]:
for n in range(20):
    #もし計算のあまりが0の場合、ループをスキップ
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

In [200]:
name = input("名前: ")
print(name)

名前: jiang
jiang

In [204]:
name = input("名前: ")
print("こんにちは {}!".format(name))

名前: jiangrui
こんにちは jiangrui!

In [205]:
str = input("名前: ");
print ("こんにちは: ", str)

名前: jiangrui
こんにちは:  jiangrui

显示5年后的用户年龄。

In [207]:
age = input("年齢: ")
print(age)

年齢: 24
24

In [209]:
age = int(age)
age_5_years = age + 5
print(age_5_years)

29

In [211]:
print("こんにちは{}さん! {}さんは今{}歳ですが、5年後は{}歳になりますよ".format(name, name, age, age_5_years_later))

こんにちはjiangruiさん! jiangruiさんは今24歳ですが、5年後は29歳になりますよ

もしたくさんのユーザーがいて、forループを使って、どうやって簡単に表示できますか？

In [213]:

names = input("コマで区切って名前を入力して: ").title().split(",")
ages = input("コマで区切って年齢を入力して: ").split(",")
message = "こんにちは{}さん! {}さんは今{}歳ですが、5年後は{}歳になりますよ"

for name, age in zip(names, ages):
    print(message.format(name, name, age, int(age)+5))

コマで区切って名前を入力して: jiangrui, xiaoc
コマで区切って年齢を入力して: 22,25
こんにちはJiangruiさん! Jiangruiさんは今22歳ですが、5年後は27歳になりますよ
こんにちは Xiaocさん!  Xiaocさんは今25歳ですが、5年後は30歳になりますよ

### エラーと例外

In [214]:
print(x)

20

### **tryとexceptの関数を使って、エラーを見つかりましょう。**
 下記の文を実行してみてください。

 try:
    print("this gets executed first")
    
 except:
    print("this gets executed only if there is an error")

In [215]:
try:
    print("this gets executed first")
except:
    print("this gets executed only if there is an error")

this gets executed first

### **`Python3 函数`**
    def 函数名（参数列表）:

    函数体

In [224]:
def area(width, height):
    return width * height 
w = 4
h = 5
print("width =", w, " height =", h, " area =", area(w, h))

width = 4  height = 5  area = 20

In [247]:
def area(width, height):
    return width + height 
w = 4
h = 5
print(" area =", area(w, h))

 area = 9

In [0]:
def total_numbers_1(a, b):
    print(a+b)

def total_numbers_2(a,b):
    return (a+b)

In [249]:
def total_numbers_2(a,b):
    return (a+b)
total = total_numbers_2(3,7)
print(total)
add_again = total_numbers_2(total, 3)
print(add_again)

10
13

In [235]:
total = total_numbers_1(3,7)
print(total)
add_again = total_numbers_1(total, 3)
print(add_again)

10
None

TypeError: ignored

In [234]:
total = total_numbers_2(3,7)
print(total)
add_again = total_numbers_2(total, 3)
print(add_again)

10
13

# minutesの変数を整数の値に入れて、何時間になるかを示した関数を作りなさい。 関数の出力は
print(how_many_hours(215))

In [251]:
def how_many_hours(minutes):
    hours = minutes // 60
    remainder = minutes % 60
    return "{} 時間 {} 分".format(hours, remainder)

print(how_many_hours(60))

1 時間 0 分

# ラムダ関数

In [252]:
multiply = lambda x, y: x * y
multiply (2,3)

6

In [255]:
def multiply(x,y):
    return x*y
print(multiply(1,2))

2

ラムダ関数を作って、以下の辞書をソートしてください。
辞書はひらがなの昇順でソートしなさい。

data = [{'動物': 'うま', '年齢': 3},                              
        {'動物': 'ねこ', '年齢': 1},                                 
        {'動物': 'きりん', '年齢': 5}]                                          
sorted関数を使って上の辞書をソートできます。

In [256]:
data = [{'動物': 'うま', '年齢': 3},
        {'動物': 'ねこ', '年齢': 1},
        {'動物': 'きりん', '年齢': 5}]

sorted(data, key=lambda item: item['動物'])

[{'動物': 'うま', '年齢': 3}, {'動物': 'きりん', '年齢': 5}, {'動物': 'ねこ', '年齢': 1}]

# **クラス Class**

Animalのクラスを作成し、__init__()関数で初期化し、動物の名前と数を設定してください。

In [257]:
class Animal:
    def __init__(self, animal_name, amounts):
        self.animal_name = animal_name
        self.amounts = amounts
        
a1 = Animal("ねこ", 4)

print(a1.animal_name)
print(a1.amounts)

ねこ
4

<動物の数>匹の<動物の名前>,こちらの動物園にいます と表示したmyfunc関数を作りなさい。そして、a1のオブジェクトに当ててください。

In [258]:
class Animal:
    def __init__(self, animal_name, amounts):
        self.animal_name = animal_name
        self.amounts = amounts
    
    def myfunc(self):
        return ("この動物園では、{}が{}匹います。".format(self.animal_name, self.amounts))
        
a1 = Animal("ねこ", 4)
print(a1.myfunc())

この動物園では、ねこが4匹います。

In [259]:

class Animal:
    def __init__(anything, animal_name, amounts):
        anything.animal_name = animal_name
        anything.amounts = amounts
    
    def myfunc(abc):
        return("この動物園では、{}が{}匹います。".format(abc.animal_name, abc.amounts))
        
a1 = Animal("ねこ", 4)
print(a1.myfunc())

この動物園では、ねこが4匹います。

In [0]:
class Add:
  def __init__(self,a,b):
    self.a = a
    self.b = b
  def plus(self):
    return self.a+self.b

abc = Add(1,2)
abc.plus()

NameError: ignored